.thumb {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 255px;
    height: 382px;
    object-fit: cover;
}

.overlay {
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}
.overlay-home {
    width: 177px;
    height: 260px;
}

.film-actor {
    margin: 10px;
}

.text-color {
    color: #46E1FF;
}

.overlay-sidebar {
    width: 140px;
    height: 202px;
}

.overlay-actors {
    width: 250px;
    height: 165px;
}

.avatarimg {
    position: absolute;
    left: 12px;
    top: 35px;
}

.divavatar {
    position: relative;
}

.commenttext {
    height: 138px!important;
    padding-top: 72px!important;
}

.message_error {
    color: red!important;
}

.tt-highlight {
    color: red;
}

.list-item-custom {
    border-bottom: 1px solid rgb(230, 220, 220);
}

.div_img {
    width: 50px;
    height: 50px;
}

.img_avatar {
    width: 100%;
}

.btn_save_film:hover {
    background-color: #ef3131;
    color: white !important;
    border: solid 1px;
    margin-bottom: 15px;
}

.btn_save_film {
    border: solid 1px;
}

.authentication {
    background: red;
    height: 50px;
    padding-top: 20px;
    padding-left: 9px;
    color: white;
}

.nofilm {
    width: 80%;
    text-align: center;
    height: 30px;
}

.msg {
    height: 34px;
    color: #deff00;
}
